input {
  border: none;
  outline: none;
  width: 100%;
}

input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #2b0c1a;
}

.SearchBarContainer {
  border-bottom: 1px solid #2b0c1a;
  width: 165px;
  height: 34px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
}
