@import 'tailwindcss';

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Involve';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/involve-vf.ttf') format('truetype');
}

@font-face {
  font-family: 'Gogol';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/gogol_regular.otf') format('opentype');
}

@theme {
  --color-dark-brown: #2b0c1a;
  --color-light-brown: #a48077;
  --color-beige: #fef1e7;
  --color-gray: #d9dede;

  /* Для шрифтов нужно подобрать запасные варианты */
  --font-sans: 'Involve';
  --font-handwrite: 'Gogol';

  --spacing-5px: calc(var(--spacing) * 1.25);
  --spacing-10px: calc(var(--spacing) * 2.5);
  --spacing-15px: calc(var(--spacing) * 3.75);
  --spacing-20px: calc(var(--spacing) * 5);
  --spacing-30px: calc(var(--spacing) * 7.5);
  --spacing-40px: calc(var(--spacing) * 10);
  --spacing-50px: calc(var(--spacing) * 12.5);
  --spacing-60px: calc(var(--spacing) * 15);
  --spacing-70px: calc(var(--spacing) * 17.5);
  --spacing-80px: calc(var(--spacing) * 20);
  --spacing-90px: calc(var(--spacing) * 22.5);
  --spacing-100px: calc(var(--spacing) * 25);
  --spacing-110px: calc(var(--spacing) * 27.5);
  --spacing-150px: calc(var(--spacing) * 37.5);
  --spacing-260px: calc(var(--spacing) * 65);

  --gap-base: var(--spacing-40px);

  /* Стандартные отступы для контейнера, использовать как обычные переменные */
  --basic-container: var(--spacing-50px) var(--spacing-40px) var(--spacing-100px);
  --basic-container-x: 0 var(--spacing-40px);
}

/* Базовые глобальные стили */
@layer base {
  html {
    font-size: 14px;
    line-height: 120%;
    color: var(--color-dark-brown);
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h1,
  h2,
  h3 {
    line-height: 100%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .handwrite {
    font-family: var(--font-handwrite);
    font-size: inherit;
    text-transform: lowercase;
    color: var(--color-light-brown);
  }

  hr {
    width: 100%;
    height: 1px;
    border-color: var(--color-light-brown);
  }

  .hr-small {
    width: calc(var(--spacing) * 29.25);
    opacity: 40%;
  }
}
